// Software Language Colors
$sass-color: #cc6699;
$html-color:#e34c26;
$css-color:#264de4;
$js-color:#F0DB4F;
$bootstrap-color:#563d7c;
$react-color:#61DBFB;
$vue-color:#42b883;

// Social Media Color
$facebook-color: #3b5998;
$instagram-color: #E1306C;
$threads-color: #bc0a45;
$twitter-color: #14171A;
$linkedin-color: #0077b5;
$youtube-color: #FF0000;
$reddit-color: #FF4500;
